{% extends 'base.html' %}

{% block header %}
    {% block title %}About me{% endblock %}
{% endblock %}

{% block body %}
    <div class="center_text_block">
        <h1 class="line_breaking_title">About me</h1>
        <div class="about_bio">
            <p>G'day, I'm David, a.k.a. <span class="handle">toonarmycaptain</span>, <span
                    class="handle">toonarmy</span>, <span class="handle">toon</span>. <span class="handle">toonarmycaptain</span>
                is a handle I adopted in the mid 90's when I needed a unique email address, and that's what I came up
                with. <br>
                Yes, I barrack for Newcastle Utd.</p>

            <p>I'm a man of rather eclectic interests, coming to the world of code via several years of unrelated and
                un-graduated university studies, healthcare, and K12 education, embarking on a career in tech. I love
                python's syntax, enjoy solving problems, and writing robust, extensively tested code.</p>

           <p>I am one of the organisers of <a href="https://www.pytexas.org/">PyTexas</a>, a regional Python conference held annually, this year in Austin, TX, and am frequently in attendance at PyTexas' monthly <a href="https://meetup.pytexas.org/">online meetup.</a></p>



            <p>Presently I am engaged in some contracting work, but am open to new opportunities.<br>
               Recent engagements have involved kubernetes, Helm, Docker, Podman, Strapi, MSSQL, Postgres, SQLite, Salt, SQLAlchemy, Flask, FastAPI, and deployment on various cloud providers.</p>
        </div>
    </div>
{% endblock %}
