{% extends 'base.html' %}

{% block header %}
    {% block title %}Contact{% endblock %}
    <link rel="preload"
          href="{{ url_for('static', filename='github_logo.png') }}" as="image">
    <link rel="preload"
          href="{{ url_for('static', filename='github_icon_bw.svg') }}" as="image">
    <link rel="preload"
          href="{{ url_for('static', filename='ln_logo_128px.png') }}" as="image">
{% endblock %}
{% block body %}
    <h1 class="line_breaking_title center_text_block">Contact</h1>
    <p class="center_text_block">Send me a message:</p>
    <div class='contact_form'>
        {#        # This should have a contact form. Make it send me an email.#}
        {% from "_formhelper_macro.html" import render_field %}
        <form method=post>
            {{ form.hidden_tag() }}
            <div id='name' class='form_element'>{{ render_field(form.name) }}</div>
            <div id='email' class='form_element'>{{ render_field(form.email) }}</div>
            <div id='message' class='form_element'>{{ render_field(form.message) }}</div>
            {#        {{ render_field(form.recaptcha) }}#}
            <div id='submit' class='contact_form_submit_button'> {{ render_field(form.submit) }}</div>

            {% with success = get_flashed_messages(category_filter=["successful_submission", "success_message"]) %}
                {% if success %}
                    {% for message in success %}
                        <div>
                            <span class="successful_submission">Thankyou!</span>
                            <br>
                            <span class="success_message">NB I endeavour to respond within 48 hours.</span>
                        </div>

                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
        {#        # Try to also make it send a text.#}
        {#        # Clear form if successful submission, along with success message.#}
    </div>

    <br>
    <br>
    <p class="center_text_block">Or find me on:</p>
    <ul class="contact_socials_link_list center_text_block">

        <li>
            <a href="https://twitter.com/toonarmycaptain"
               class="contact_social_logo twitter-follow-button"
               data-size="large" data-show-count="false">Follow @toonarmycaptain</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </li>
        <li class="contact_social_item">
            <a href="https://github.com/toonarmycaptain/">
                <img class="contact_social_logo" src="{{ url_for('static', filename='github_logo.png') }}"
                     title="GitHub - toonarmycaptain" alt="GitHub - toonarmycaptain"></a>
            <a href="https://github.com/toonarmycaptain/">
                <img class="contact_social_logo" src="{{ url_for('static', filename='github_icon_bw.svg') }}"
                     title="GitHub - toonarmycaptain" alt="GitHub - toonarmycaptain"></a>
        </li>
        <li class="contact_social_item">
            <a href="https://www.linkedin.com/in/davidantonini/">
                <img class="contact_social_logo" src="{{ url_for('static', filename='ln_logo_128px.png') }}"
                     title="David Antonini - LinkedIn" alt="David Antonini - LinkedIn"></a>

    </ul>

{% endblock %}
