{% extends 'base.html' %}

{% block header %}
    {% block title %}Contact{% endblock %}
{% endblock %}
{% block body %}

    <p>Contact form</p>
    <div class='contact_form'>
        {#        # This should have a contact form. Make it send me an email.#}
        {% from "_formhelper_macro.html" import render_field %}
        <form method=post>
            {{ form.hidden_tag() }}
            <div id='name' class='form_element'>{{ render_field(form.name) }} </div>
            <div id='email' class='form_element'>{{ render_field(form.email) }}</div>
            <div id='message' class='form_element'>{{ render_field(form.message) }}</div>
            {#        {{ render_field(form.recaptcha) }}#}
            <div id='submit' class='contact_form_submit_button'> {{ render_field(form.submit) }}</div>

        </form>
        {#        # Try to also make it send a text.#}
        {#        # Clear form if successful submission, along with success message.#}
    </div>

{% endblock %}

