{% extends 'base.html' %}

{% block header %}
    {% block title %}Projects{% endblock %}
{% endblock %}

{% block body %}
    <div class="center_text_block">
        <h1 class="line_breaking_title">Projects</h1>
        <p>
            Some projects I am working on/maintain:
            <br>
        </p>
        <p><a href="https://github.com/toonarmycaptain/toonarmycaptain_website/"
              title="toonarmycaptain_website - GitHub">
            <img class="social_icon_text_height" src="{{ url_for('static', filename='github_icon_bw.svg') }}"
                 target="_blank" rel="noreferrer"
                 alt="toonarmycaptain_website - GitHub">This website</a>
            <br>
            Set up personal website, deployed on pythonanywhere, incorporating contact form and db
            Learned further flask testing, db in a webapp, automated email, responsive HTML/CSS.
        </p>
        <p>
            <a href="https://github.com/toonarmycaptain/dionysus"
               title="dionysus - GitHub">
                <img class="social_icon_text_height" src="{{ url_for('static', filename='github_icon_bw.svg') }}"
                     target="_blank" rel="noreferrer"
                     alt="dionysus - GitHub">dionysus</a> - Student avatar score chart generator
            <br>
            App for teachers to chart test scores using ‘secret’ avatars rather than student names, for privacy
            purposes.
            <br>
            Learned to set up and integrate CI pipelines, coverage, code quality tools, implement effective versioning,
            JSON, argparse, OOP, basic Tkinter GUI elements, converted from unittest to pytest.
            <br>
            Originally implemented in fully functional paradigm, then incremental conversion to OOP, using an abstracted
            database to support varied db backend implementations (eg JSON files, SQLite).
        </p>
        <p>
            <a href="https://github.com/toonarmycaptain/probable_immunity/"
               title="probably_immunity - GitHub">
                <img class="social_icon_text_height" src="{{ url_for('static', filename='github_icon_bw.svg') }}"
                     target="_blank" rel="noreferrer"
                     alt="probably_immunity - GitHub">probable_immunity</a> - Vaccine efficacy website
            <br>
            Website showing user possible chance of immunity to various illnesses and risk of contracting those
            illnesses following exposure, vaccine efficacy.
            <br>
            Currently hosted on <a href="https://probableimmunity.pythonanywhere.com/immunity/"
                                   target="_blank" rel="noreferrer">pythonanywhere</a>.
        </p>
        <p>
            <a href="https://github.com/toonarmycaptain/xkcd_archiver"
               title="xkcd_archiver - GitHub">
                <img class="social_icon_text_height" src="{{ url_for('static', filename='github_icon_bw.svg') }}"
                     target="_blank" rel="noreferrer"
                     alt="xkcd_archiver - GitHub">xkcd_archiver</a> - Download and maintain an archive of xkcd comics
            quickly.
            <br>
            Twist on typical web scraping starter project to quickly archive all of the images from the XKCD web comic,
            using the site’s JSON API and threading to download images directly rather than scraping HTML.
            <br>
            Learned to use requests, Flask-WTF forms, parse JSON, effectively employ threading.
        </p>
    </div>
{% endblock %}
