body {
    padding: 1%;
}

.top_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 289;

}

.navbar_item {
    background: white;
    display: inline;
    float: right;
}

.navbar_link {
    display: block;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    float: right;
}

.navbar_item .navbar_link:hover {
    color: white;
    background-color: black;
}

.nav_active_page {
    text-decoration: underline;
}

.navbar_avatar {
    height: 2em;
    position: relative;
    right: -.55em;
    overflow: hidden;
    border-radius: 50%;
    alignment: right;
}

.home_full_avatar {
    position: relative;
    bottom: -2.25em;
    overflow: hidden;
    border-radius: 50%;
}

.toonarmycaptain_name {
    font-family: 'Andale Mono', terminal, monospace;
}

.toonarmycaptain_subtitle {
    font-family: sans-serif;
    font-style: italic;
    font-size: smaller;
    top: -1.5em;
    position: relative;
}


.contact_form {
    font-family: sans-serif;
    padding-left: 10%;
    padding-right: 40%;
    /*width: 50%;*/
    display: flex;
}

.form_element {
    display: block;
    margin-top: 1em;
    clear: both;
}

input[type=text], textarea {
    float: right;
}


.contact_form_submit_button {
    margin-top: 1.75em;
    text-align: right;

}
