<!doctype html>
<html lang="en-GB">


<head>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon"
          type='image/vnd.microsoft.icon'
          href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}
        <title>
            {% block title %}{% endblock %} - toonarmycaptain.com
        </title>
    {% endblock %}
</head>

<body>
    {# Delay page rendering until after CSS is loaded in FF #}
    <script>0</script>

    <nav class="top_navbar">
        <ul>
            {# List in reverse order due to floating to right. #}
            {% for nav_url, nav_name in [('about', 'About me'),
                                         ('contact', 'Contact'),
                                         ('blog', 'Blog'),
                                         ('projects', 'Projects'),
                                         ('home', 'Home'),
                                         ] %}
                <li class="navbar_item" >
                    <a class="navbar_link {% if nav_url in request.path %} nav_active_page {% endif %}"
                       href="{{ url_for(nav_url) }}">{{ nav_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>

