{% extends 'base.html' %}


    {% block header %}
      {% block title %}Home{% endblock %}
        <!-- Probably should have some sort of menu here. -->

    {% endblock %}


{% block body %}
    <div id="bio" style="text-align: center;">
    <!-- Use https://www.w3schools.com/html/html_images_picture.asp to have full and minimal images.-->
        <img class="home_full_avatar" src="{{ url_for('static', filename='avatar_full.jpg') }}">
        <h1 class="toonarmycaptain_name">toonarmycaptain</h1>
        <p class="toonarmycaptain_subtitle">Believer, husband, father, learner, programmer, writer.</p>

    </div>
    <p>Content coming soon...</p>

{% endblock %}
